In [1]:
import MySQLdb as sql
import pandas as pd
from __future__ import division

In [3]:
db_connection = sql.connect(host='localhost', db='zhihu', user='root', passwd='123', charset = 'utf8')

df = pd.read_sql('SELECT  * FROM final where topic1 != "null" ', con=db_connection)
total = df.shape[0]
total

276900

# User has five following topic

In [3]:

# df = pd.read_sql('SELECT  * FROM final where topic1 like "%摄影%" or topic2 like "%摄影%" or topic3 like "%摄影%" or topic4 like "%摄影%" or topic5 like "%摄影%" ', con=db_connection)

# # df = pd.read_sql('SELECT  * FROM final where topic1 = "摄影" ', con=db_connection)

# # df = pd.read_sql('SELECT  * FROM final where topic1 like "%单反%" or topic2 like "%单反%" or topic3 like "%单反%" or topic4 like "%单反%" or topic5 like "%单反%" ', con=db_connection)

df = pd.read_sql('SELECT  * FROM final where topic1 like "%单反%" or topic2 like "%单反%" or topic3 like "%单反%" or topic4 like "%单反%" or topic5 like "%单反%" or topic1 like "%摄影%" or topic2 like "%摄影%" or topic3 like "%摄影%" or topic4 like "%摄影%" or topic5 like "%摄影%" ', con=db_connection)

df.shape[0]/total

0.08083983938012977

In [14]:
df = pd.read_sql('SELECT  * FROM final where topic1 like "%单反%" or topic2 like "%单反%" or topic3 like "%单反%" or topic4 like "%单反%" or topic5 like "%单反%" or topic1 like "%摄影%" or topic2 like "%摄影%" or topic3 like "%摄影%" or topic4 like "%摄影%" or topic5 like "%摄影%" ', con=db_connection)

df.shape[0]/total

0.08205178214442439

In [2]:
db_connection = sql.connect(host='localhost', db='zhihu', user='root', passwd='123', charset = 'utf8')

df = pd.read_sql('SELECT  * FROM final where topic1 != "null" ', con=db_connection)
total = df.shape[0]
t = ['生活','电影','互联网','自然科学','摄影',
    '职业发展','心理学','历史','文学','美食',
     '音乐','体育','游戏','医学','健身',
     '法律','旅行','调查类问题','生活方式','汽车'
    ]
result = []
score = [0]*20
for i in range(20):
    sql = 'SELECT  * FROM final where topic1 like "%'+ t[i] + '%" or topic2 like "%' + t[i] + '%" or topic3 like "%'+ t[i] + '%" or topic4 like "%'+ t[i] + '%" or topic5 like "%'+ t[i] + '%"'
    df = pd.read_sql(sql, con=db_connection)
    score[i] = df.shape[0]/total
    if(t[i] == '摄影'):
        df = pd.read_sql('SELECT  * FROM final where topic1 like "%单反%" or topic2 like "%单反%" or topic3 like "%单反%" or topic4 like "%单反%" or topic5 like "%单反%" or topic1 like "%摄影%" or topic2 like "%摄影%" or topic3 like "%摄影%" or topic4 like "%摄影%" or topic5 like "%摄影%" ', con=db_connection)
        score[i] = df.shape[0]/total
    print "%s : %.3f"%(t[i],score[i])

生活 : 0.173
电影 : 0.172
互联网 : 0.115
自然科学 : 0.112
摄影 : 0.083
职业发展 : 0.067
心理学 : 0.079
历史 : 0.061
文学 : 0.083
美食 : 0.057
音乐 : 0.072
体育 : 0.060
游戏 : 0.060
医学 : 0.034
健身 : 0.049
法律 : 0.034
旅行 : 0.044
调查类问题 : 0.020
生活方式 : 0.037
汽车 : 0.025

In [8]:
df = pd.read_sql('SELECT  * FROM final where education != "null" ', con=db_connection)
total = df.shape[0]
df = pd.read_sql('SELECT  * FROM final where topic1 like "%单反%" or topic2 like "%单反%" or topic3 like "%单反%" or topic4 like "%单反%" or topic5 like "%单反%" or topic1 like "%摄影%" or topic2 like "%摄影%" or topic3 like "%摄影%" or topic4 like "%摄影%" or topic5 like "%摄影%" ', con=db_connection)

In [7]:
df = pd.read_sql('SELECT  * FROM final where topic1 like "%单反%" or topic2 like "%单反%" or topic3 like "%单反%" or topic4 like "%单反%" or topic5 like "%单反%" or topic1 like "%摄影%" or topic2 like "%摄影%" or topic3 like "%摄影%" or topic4 like "%摄影%" or topic5 like "%摄影%" ', con=db_connection)
total = df.shape[0]
df.groupby(['education']).size().nlargest(20)/total

education
北京大学              0.007028
清华大学              0.006885
浙江大学              0.004016
复旦大学              0.003586
武汉大学              0.003251
同济大学              0.003060
上海交通大学            0.002964
中山大学（SYSU）        0.002964
中国传媒大学            0.002869
普通高校本科层次（大学本科）    0.002869
华中科技大学            0.002773
南京大学              0.002678
大学                0.002678
北京电影学院            0.002486
四川大学              0.002391
中国人民大学            0.002247
厦门大学              0.002008
哈尔滨工业大学（HIT）      0.001865
本科                0.001721
南开大学              0.001673
dtype: float64

# Male Female

In [10]:
df = pd.read_sql('SELECT  * FROM final where topic1 like "%单反%" or topic2 like "%单反%" or topic3 like "%单反%" or topic4 like "%单反%" or topic5 like "%单反%" or topic1 like "%摄影%" or topic2 like "%摄影%" or topic3 like "%摄影%" or topic4 like "%摄影%" or topic5 like "%摄影%" ', con=db_connection)
total = df.shape[0]
df.groupby(['sex']).size().nlargest(2)

sex
male      8669
female    8547
dtype: int64

In [11]:
total

20915

# Business

In [9]:
df = pd.read_sql('SELECT  * FROM final where topic1 like "%单反%" or topic2 like "%单反%" or topic3 like "%单反%" or topic4 like "%单反%" or topic5 like "%单反%" or topic1 like "%摄影%" or topic2 like "%摄影%" or topic3 like "%摄影%" or topic4 like "%摄影%" or topic5 like "%摄影%" ', con=db_connection)
total = df.shape[0]
df.groupby(['business']).size().nlargest(20)/total

business
互联网      0.090844
创意艺术     0.029931
计算机软件    0.020416
金融       0.014153
高等教育     0.013435
信息传媒     0.010853
高新科技     0.009515
广播电视     0.008941
电子商务     0.008367
法律       0.008033
地产建筑     0.007268
广告       0.007268
科研       0.007172
汽车       0.006598
艺术娱乐     0.006455
临床医疗     0.006216
教育       0.006216
电子游戏     0.005451
财务       0.005116
房地产      0.004686
dtype: float64

# location

In [15]:
df = pd.read_sql('SELECT  * FROM final where topic1 like "%单反%" or topic2 like "%单反%" or topic3 like "%单反%" or topic4 like "%单反%" or topic5 like "%单反%" or topic1 like "%摄影%" or topic2 like "%摄影%" or topic3 like "%摄影%" or topic4 like "%摄影%" or topic5 like "%摄影%" ', con=db_connection)
total = df.shape[0]
df.groupby(['location']).size().nlargest(20)/total

location
北京     0.089840
上海     0.054984
杭州     0.020655
成都     0.014009
广州     0.012909
深圳市    0.011475
深圳     0.010614
南京     0.009706
武汉     0.008893
广州市    0.008845
西安     0.007124
美国     0.005785
重庆     0.005403
香港     0.005164
天津     0.004447
长沙     0.004447
厦门     0.004351
苏州     0.003634
纽约     0.003443
东京     0.002773
dtype: float64

# Company

In [16]:
df = pd.read_sql('SELECT  * FROM final where topic1 like "%单反%" or topic2 like "%单反%" or topic3 like "%单反%" or topic4 like "%单反%" or topic5 like "%单反%" or topic1 like "%摄影%" or topic2 like "%摄影%" or topic3 like "%摄影%" or topic4 like "%摄影%" or topic5 like "%摄影%" ', con=db_connection)
total = df.shape[0]
df.groupby(['employment']).size().nlargest(20)/total

employment
学生               0.002486
腾讯               0.002152
百度               0.001626
阿里巴巴集团           0.001339
自由职业             0.000861
摄影师              0.000717
谷歌 (Google)      0.000717
互联网              0.000622
Facebook         0.000526
微软（Microsoft）    0.000526
网易               0.000526
摄影               0.000430
知乎               0.000430
银行               0.000430
华为               0.000383
微信               0.000383
微软亚洲研究院          0.000335
无业游民             0.000335
滴滴出行             0.000335
某公司              0.000287
dtype: float64

In [2]:

df.groupby(['topic1']).size().nlargest(20)/df.shape[0]

topic1
生活       0.055190
电影       0.034907
互联网      0.022371
职业发展     0.021942
自然科学     0.019055
历史       0.017319
心理学      0.016237
文学       0.014550
美食       0.014540
摄影       0.014428
音乐       0.012794
体育       0.012390
医学       0.011380
游戏       0.011327
健身       0.010722
法律       0.009820
生活方式     0.009537
旅行       0.009133
调查类问题    0.009016
汽车       0.008772
dtype: float64

In [6]:
df.describe()

,id,agrees,thanks,asks,answers,posts,followees,followers
count,276900.000000,2.769000e+05,276900.000000,276900.0,276900.000000,276900.000000,276900.000000,2.769000e+05
mean,147051.605536,2.121466e+03,426.319397,11.0,45.011416,1.915005,138.178014,8.854468e+02
std,85250.821411,1.590323e+04,3120.315235,0.0,168.750578,17.372503,373.001862,9.611942e+03
min,1.000000,0.000000e+00,0.000000,11.0,0.000000,0.000000,0.000000,1.000000e+00
25%,73251.750000,1.000000e+00,0.000000,11.0,1.000000,0.000000,12.000000,7.000000e+00
50%,146867.500000,4.800000e+01,12.000000,11.0,9.000000,0.000000,44.000000,3.600000e+01
75%,220768.250000,5.420000e+02,124.000000,11.0,35.000000,0.000000,128.000000,1.830000e+02
max,295259.000000,1.452877e+06,332616.000000,11.0,17834.000000,1591.000000,43920.000000,1.010733e+06